//----------------------------------------------
//
//	STORY PAGES CT - layout styles
//
//	location: 
//      /sass/components/pages/_ct-story-page.scss
//
//----------------------------------------------

.story-page {
	.l-content-main-wrapper {
		padding: 0; // override defaults
		
		// undo default constraints on container width
		> .l-constrained {
			width: 100%;
			margin: 0;
			padding: 0;
		}
		
		.l-content-main {
			padding: 0;
		}
	}
}