//----------------------------------------------
//
//	HOME one page - general layout styles 
//					for the temp one page
//
//	location: 
//      /sass/components/pages/_home-one-page.scss
//
//----------------------------------------------


// temp hide
a.site-logo {
	display: none;
}

.not-front {
	.block-homepageherovideo {
		display: none;
	}
}
div#block-btw-base-branding {
    display: none;
}




.front {
	background-color: #000;
	
	.l-header,
	section#content {
		background-color: #000;
	}
	.l-header {
		display: none;
	}
		
	h1.title {
	    display: none;
	}
	
	.l-content-main-wrapper {
		.l-constrained {
			width: 100%;
			margin: 0;
		}
	}
	
	// Typography
	h1, h2, h3, h4 {
		color: $title-on-dark-color;
		font-weight: 700;
	}
	
	.story-block {
		color: $text-on-dark-color;
		background-color: transparent;
		
		.title {
			text-transform: uppercase;
		}
	}
	
	
	//-------------------------------------
	//
	//	HERO VIDEO Section
	//
	//-------------------------------------
	
	.block-homepageherovideo {
	    height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		padding-top: 30px;
		position: relative;
	    
	    video {
		    position: relative;
		    display: block; // kills the white space below video that inline-block (default) causes
	    }
	}
	
	.video-wrapper-img-text {
		text-align: center;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	}
	.video_background__field-name-image {
	    text-align: center;
	    
	    img {
		    max-width: 260px;
		    margin: 0 auto;
		    
		    @include breakpoint($small-only) {
			    width: 80%;
		    }
		}
	}
	.video_background__field-name-body {
		color: #fff;
		max-width: 700px;
		font-size: 3vw;
		line-height: 1;
		margin-top: 3vw;
	}
	
	
	//-------------------------------------
	//
	//	INTRO Section
	//
	//-------------------------------------
	
	.section-intro {
		background: transparent url(../images/pick-shape-outline.svg) no-repeat scroll center top;
		background-size: 100% auto;
		
		&.story-block {
			.story-block-inner {
				padding: 0;
			}
		}
		
		// hide default title
		h2.title {
			display: none;
		}
		
		.tagline-wrapper {
			@include breakpoint($small-only) {
		    	margin: 0 -30px;
		    }
		}
		.tagline-1 {
		    color: #004071;
		    font-weight: 900;
		    text-transform: uppercase;
		    font-size: 17.5vw;
		    white-space: nowrap;
		    margin: 0 -1.5vw;
		    line-height: .8;
	    }
		.tagline-2 {
			color: #005FAA;
		    font-weight: 900;
		    text-transform: uppercase;
		    font-size: 9.2vw;
		    white-space: nowrap;
		    margin: 0 -0.5vw;
		    line-height: .8;
		}
		.tagline-3 {
			color: #0986EB;
		    font-weight: 900;
		    text-transform: uppercase;
		    font-size: 10.03vw;
		    white-space: nowrap;
		    margin: 0;
		    line-height: .8;
		}
		.tagline-4 {
			color: #86CAFF;
		    font-weight: 900;
		    text-transform: uppercase;
		    font-size: 4.62vw;
		    white-space: nowrap;
		    margin: 0;
		    line-height: .9;
		}
		// add placed title
		h1.main-title {
		    font-size: 10vw;
		    margin: 0 0 .1em 0;
		    line-height: 1;
		    
		    sup {
			    font-size: .4em;
			    top: -1em;
			}
		}
		
		.description {
		    text-align: center;
		    padding: 9vw 20vw 4vw;
		    font-size: 34px;
		    line-height: 1.4;
		    
		    @include breakpoint($small-only) {
			    padding: 60px 0 30px;
			    font-size: 24px;
		    }
		}
		
		.embedded-video {
		    margin: 0 5vw 5vw;
		}
	}
	
	
	
	//-------------------------------------
	//
	//	SIGNUP Section
	//
	//-------------------------------------
	
	.section-signup {
		background-color: #409BE3;
		text-align: center;
		
		h2.title {
			font-size: 5vw;
			color: #000;
			font-weight: 900;
			margin-bottom: 0.3em;
		}
		p {
			color: #fff;
		}
		
		div#mc_embed_signup_scroll {
		    @include flexbox;
		    @include justify-content($value: center);
		    
		    @include breakpoint($small-only) {
			    @include flex-flow($values: (column wrap));
		    }
		}
		.mc-field-group {
		    margin-right: 20px;
		    
		    @include breakpoint($small-only) {
			    margin: 0 0 10px 0;
		    }
		    
		    label {
			    display: none;
			}
			input.email {
				@include breakpoint($small-only) {
			    	width: 100%;
		    	}
			}
		}
		.clear {
			text-align: center;
		}
		input[type=submit] {
			padding: 10px 20px;
			letter-spacing: 0.05em;
			
			@include breakpoint($small-only) {
			    width: 100%;
		    }
		}
	}
	
	//-------------------------------------
	//
	//	DAVID PICK Section
	//
	//-------------------------------------
	
	.section-david-pick {
		background: transparent url(../images/pick-shape_outline_sm.svg) no-repeat scroll center center;
		background-size: auto 95%;
	}
	
}