//------------------------------------------------------
//
//	VARIABLES - TYPOGRAPHY - here is where you define your 
//							 font usage for the site
//
//	location: 
//      /sass/variables/_variables-borders.scss
//
//------------------------------------------------------



// Font Icons

$arrowicons: IcoMoonArrows;
$basicicons: IcoMoonBasic;
$socialicons: IcoMoonSocial;

$icon-line-height: 1;


// Base font

$base-font-family: "texta", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: normal;
$base-font-size: 18px;
$base-line-height: 1.4;
$base-letter-spacing: 0;


// Headings

$title-font-family: "texta", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-weight: normal;
$title-margin: 0 0 1em 0;
$title-line-height: 1.2;
$title-letter-spacing: 0em;
$title-text-transform: none;


// Navigation 

$nav-font-family: "texta", "Helvetica Neue", Helvetica, Arial, sans-serif;
$nav-font-weight: normal;
$nav-line-height: 1;


// Sub-nav

$subnav-font-family: "texta", "Helvetica Neue", Helvetica, Arial, sans-serif;
$subnav-font-weight: normal;
$subnav-line-height: 1;
