//------------------------------------------------------
//
//	VARIABLES - COLORS - all colors sitewide defined here
//
//	location: 
//      /sass/variables/_variables-colors.scss
//
//------------------------------------------------------


// Main Site Colors

$primary-color: #64BAFF; // blue
$secondary-color: #222222; // dark gray

$accent-bg-color-light: #efefef; // very light gray
$accent-bg-color-dark: #093a46; // dark teal

// for subtle changes to delineate container bg color in main content
$subtle-accent: rgba(0,0,0,0.05); 



// neutral colors
$white: #fff;
$xlight-gray: #efefef; // text bg area
$light-gray: #ccc; // borders
$middle-gray: #777; // light text & icons
$dark-gray: #424242; // titles and text
$xdark-gray: #222;
$black: #000;



// Body Text
$text-color: rgba(0,0,0,0.8);
$text-on-dark-color: #ddd;
$text-on-light-color: rgba(0,0,0,0.8);

$link-color: $primary-color;
$link-hover-color: $secondary-color;
$link-visited-color: #000;



// Titles
$title-color: $text-color;
$page-title-color: $text-color;
$section-title-color: $text-color;

$title-on-dark-color: #fff;
$title-on-light-color: $title-color;



// Selected text color
$selection-text-color: #fff;
$selection-background-color: $primary-color;



// Captions
$caption-light-color: #fff;
$caption-dark-color: $text-color;



// Button styling NORMAL
$button-text-color: #fff;
$button-text-hover-color: $primary-color;

$button-bg-color: $primary-color;
$button-bg-hover-color: #fff;

$button-border-color: $primary-color;
$button-border-hover-color: $button-bg-hover-color;



// Button styling DARK BUTTON ON LIGHT BG
$button-text-color-on-light: #fff;
$button-text-hover-color-on-light: #fff;

$button-bg-color-on-light: $primary-color;
$button-bg-hover-color-on-light: darken($primary-color, 15%);

$button-border-color-on-light: $primary-color;
$button-border-hover-color-on-light: darken($primary-color, 15%);



// Button styling LIGHT BUTTON ON DARK BG
$button-text-color-on-dark: $primary-color;
$button-text-hover-color-on-dark: #fff;

$button-bg-color-on-dark: #fff;
$button-bg-hover-color-on-dark: darken($primary-color, 15%);

$button-border-color-on-dark: $primary-color;
$button-border-hover-color-on-dark: darken($primary-color, 15%);


// Sitewide Borders
$border-color: $light-gray;
$sidebar-border-color: $light-gray;

$section-title-border-color: rgba(252,108,17,0.7);



// Tables 
$table-header-bg-color: #eee;
$table-odd-row-bg-color: #fff;
$table-even-row-bg-color: #f0f0f0;



// Navigation
$nav-text-color: $text-color;
$nav-text-hover-color: $primary-color;

$nav-button-bg-color: transparent;
$nav-button-bg-hover-color: transparent;
$nav-button-bg-active-color: transparent;

$nav-bar-bg-color: transparent;

	// Sub-Navigation
	$subnav-text-color: #fff;
	$subnav-text-hover-color: #fff;
	
	$subnav-button-bg-color: transparent;
	$subnav-button-bg-hover-color: $primary-color;
	
	$subnav-bar-bg-color: #3e4246;

	// mobile nav only
	$mobile-nav-text-color: #fff;
	$mobile-nav-bg-color: $primary-color;
	$mobile-nav-text-hover-color: #fff;
	$mobile-nav-bg-hover-color: $primary-color;
	$mobile-nav-border-color: rgba(255,255,255,0.2);
	
	// mobile header 
	$mobile-header-bg-color: #000;
	
	
	// mobile nav close button
	$mobile-nav-icon-color-open: #fff;
	$mobile-nav-icon-color-closed: #333;
	
	// mobile subnav
	$mobile-subnav-text-color: #bbb;
	$mobile-subnav-bg-color: darken($primary-color, 15%);
	
	// Home page non-mobile
	$home-nav-text-color: #fff;
	$home-nav-text-hover-color: #fff;

		
	// mobile site name
	$site-name-text-color: #fff;


// Hero section
$hero-title-color: #fff;
$hero-text-color: #ccc;



// Story Blocks
$overlay-bg-color-on-dark: rgba(0,0,0,0.7);
$overlay-bg-color-on-light: rgba(255,255,255,0.7);


// Sidebar blocks
$sidebar-block-bg-color: rgba(0,0,0,0.8);

$sidebar-text-color: #aaa;

$sidebar-link-color: #ccc;
$sidebar-link-hover-color: red;
	
	// block title
	$sidebar-block-title-color: #fff;
	$sidebar-block-title-bg-color: #000;

	// buttons
	$sidebar-button-text-color: #000;
	$sidebar-button-text-hover-color: #fff;
	
	$sidebar-button-bg-color: #fff;
	$sidebar-button-bg-hover-color: #000;
	
	// more link
	$sidebar-more-link-text-color: #000;
	$sidebar-more-link-text-hover-color: #fff;
	
	$sidebar-more-link-bg-color: #fff;
	$sidebar-more-link-bg-hover-color: red;



// Quotes
$quote-text-color: $text-color;
$quote-bg-color-on-light: #eaeaea;
$quote-bg-color-on-dark: #fff;



// Pre-Footer
$pre-footer-bg-color: $primary-color;



// Footer
$footer-text-color: $text-color;

$footer-link-color: $text-color;
$footer-link-hover-color: $link-color;

$footer-bg-color: #0d0e15;



// Post-Footer
$post-footer-bg-color: #0d0e15;


// Social icons
$social-icon-color: #fff;
$social-icon-hover-color: #777;

$social-icon-bg-color: #777;
$social-icon-bg-hover-color: #000;

$social-icon-border-color: #fff;



// Messages
$messages-background-color: #A3E3F8;


// Admin Tabs 
$tabs-text-color: #000;
$tabs-text-hover-color: #fff;

$tabs-bg-color: #eee;
$tabs-bg-hover-color: #03a9f4;

$tabs-active-text-color: #fff;
$tabs-active-bg-color: #03a9f4;

