//------------------------------------------------------
//
//	VARIABLES - BUTTONS - variables to define button attributes
//
//	location: 
//      /sass/variables/_variables-buttons.scss
//
//------------------------------------------------------


// button variables

$button-padding: 15px 25px;
$button-border-radius: 4px;
$button-text-transform: uppercase;
$button-border-width: 2px;
$button-font-weight: bold;