//------------------------------------------------------
//
//	VARIABLES - TYPOGRAPHY - here is where you define your 
//							 font usage for the site
//
//	location: 
//      /sass/variables/_variables-typography.scss
//
//------------------------------------------------------



// Font Icons


$icon-line-height: 1;


// Base font

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-font-size: 18px;
$base-line-height: 1.6;
$base-letter-spacing: 0;


// Headings

$title-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-weight: 900;
$title-margin: 0 0 1em 0;
$title-line-height: 1.2;
$title-letter-spacing: 0em;
$title-text-transform: none;


// Navigation 

$nav-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$nav-font-weight: 400;
$nav-line-height: 1;


// Sub-nav

$subnav-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$subnav-font-weight: 400;
$subnav-line-height: 1;



//-----------------------------
// Define Responsive Text Sizes
//-----------------------------

// correspond to responsive text mixins in mixins.scss
// which define size according to breakpoint

// General body text
$body-text-sm: 18px;
$body-text-md: 20px;
$body-text-lg: 22px;

// Page TITLE - h1
$page-title-sm: 30px;
$page-title-md: 40px;
$page-title-lg: 45px;
$page-title-text-align: center;

// Section title - h2
$section-title-sm: 30px;
$section-title-md: 35px;
$section-title-lg: 40px;

// Section subtitle - h3
$section-subtitle-sm: 25px;
$section-subtitle-md: 22px;
$section-subtitle-lg: 30px;

// Card title - h3 
$card-title-sm: 20px;
$card-title-md: 22px;
$card-title-lg: 24px;

