//------------------------------------------------------
//
//	VARIABLES - DATEBLOCK - variables to define dateblock attributes
//
//	location: 
//      /sass/variables/_variables-dateblock.scss
//
//------------------------------------------------------


$dateblock-width: 45px; // variable affects wherever .dateblock is displayed
$dateblock-right-margin: 15px;

$dateblock-small-width: 45px; // for sidebar blocks
