//------------------------------------------------------
//
//	VARIABLES - GENERAL - for misc properties
//
//	location: 
//      /sass/variables/_variables-general.scss
//
//------------------------------------------------------


// Default transition variables for animation
$property: all;
$time: 0.2s;
$function: ease;


// Sidebar defaults
$sidebar-block-padding: 7%;


