//------------------------------------------------------
//
//	VARIABLES - STORY BLOCKS - defines  attributes
//
//	location: 
//      /sass/variables/_variables-story-blocks.scss
//
//------------------------------------------------------


// ----------------------------
//
// story blocks
//
//-----------------------------


// default fixed height for sb's with fixed position bg's but no content
$sb-fixed-bg-height-sml: 400px;
$sb-fixed-bg-height-med: 500px;
$sb-fixed-bg-height-lrg: 600px;