//------------------------------------------------------
//
//	VARIABLES - LAYOUT - defines layout attributes
//
//	location: 
//      /sass/variables/_variables-layout.scss
//
//------------------------------------------------------



// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1em;
$horz-spacing-unit: 1em;

// height of header element
// used for content section clearing fixed top pos items

$header-height-small: 50px;
$header-height-medium: 120px;
$header-height-large: 128px;
$header-height-xlarge: 128px;

$header-clear-nav-small: 50px;
$header-clear-nav-medium: 120px;
$header-clear-nav-large: 120px;
$header-clear-nav-xlarge: 148px;


// height of main navigation
$nav-height-small: 50px;
$nav-height-medium: 128px;
$nav-height-large: 128px;
$nav-height-xlarge: 128px;


// Space from edge of screen to content on mobile devices
$mobile-side-margin: 24px;


// Content margins
$small-side-margin: 24px;
$medium-side-margin: 48px;
$large-side-margin: 64px;