//----------------------------------------------
//
//	Fieldsets - general styles for fieldsets
//
//	location: 
//      /sass/base/_fieldsets.scss
//
//----------------------------------------------


fieldset {
	@include border-all($border-color);
	@include border-radius($border-radius);
	padding: $vert-spacing-unit;
	margin-bottom: $vert-spacing-unit;
	
	@include breakpoint($small-only) {
		padding: $vert-spacing-unit/2;
	}
}

legend {
	@include font-size(24px);
	font-weight: $title-font-weight;
	color: $title-color;
	padding: 0 $vert-spacing-unit/2;
	line-height: 1.2;
	
	a:link {
		color: $title-color;
	}
}
