//----------------------------------------------
//
//	ICONS - listing of icons used on the site
//
//	location: 
//      /sass/base/_icons.scss
//
//----------------------------------------------



/*-----------------------------------

 Default Icon Fonts
 
-----------------------------------*/




/*---------------------------------------

 Font Icons - reset 
 
---------------------------------------*/

* a:before,
* a:after {
	text-transform: none;
	font-style: normal;
	text-decoration: none;
	text-shadow: none;
	line-height: 1;
}
a:hover:before,
a:hover:after {
	text-decoration: none;
}

a:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
a:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}


//-----------------------------------
//
//	Social Icons - post-footer
//
//-----------------------------------

.social-icons {
	text-align: center;
	
	@include breakpoint($medium-up) {
		margin-right: 20px;
	}
	
	ul {
		margin: 0;
		padding: 0;
		
		a {
			color: #777;
			padding: 6px 10px;
			display: block;
			
			&:hover {
				color: #fff;
			}
		}
		
		.fa-2x {
			@include font-size(22px);
			vertical-align: middle;
		}
	}
}

.social-media-links--platforms.horizontal li {
	padding: 0;
}