//----------------------------------------------
//
//	LAYOUT - general layout styles for main containers
//
//	location: 
//      /sass/base/_layout.scss
//
//----------------------------------------------


*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	font-size: 18px;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
	@include base-text-style; // see /abstractions/_typography.scss & /variables/_typography.scss
}


//----------------------------------------
// Define constrained containers sitewide
//-----------------------------------------

.l-constrained {
	@include breakpoint($small-only) {
		margin: 0 20px;
	}
	@include breakpoint($medium-up) {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	@include breakpoint($xxlarge-up) {
		width: 70%;	
	}
}



/*----------------------------------------

 Add Clearfix to all main containers

----------------------------------------*/

.l-constrained,
.l-pre-header,
.l-header,
.l-inner,
.l-content,
#content,
.pre-content,
.l-content-wrapper,
.l-pre-footer-wrapper,
.l-footer-wrapper {
	@extend %clearfix;
}


//---------------------------------------
//
//	Content section
//
//---------------------------------------

.l-content-main-wrapper {
    padding: 6vw 0;
}

// default top/bottom padding on non-story pages
.section-user {
	.l-content-main-wrapper {
	    padding: 6vw 0;
	}
}

// page titles within block
.block-page-title-block {
    text-align: center;
}