//----------------------------------------------
//
//	TABLES - Default styles
//
//	location: 
//      /sass/base/_tables.scss
//
//----------------------------------------------



// !!!!!!! >>>>>>> review these vs normalize.css


table, tbody, tfoot, thead, tr, th, td {
	vertical-align: middle;
}

table {
	width: 100%;
}

thead th {
    background-color: $table-header-bg-color;
    @include border-all($border-color);
    @include font-size(13px);
    padding: 1em;
    text-align: left;
    text-transform: uppercase;
}

td {
    @include border-all($border-color);
    padding: 15px; 
    @include font-size(12px);
}

tr.odd {
	background-color: $table-odd-row-bg-color;
}

tr.even {
	background-color: $table-even-row-bg-color;
}


// user dashboard, drag to reorder profile images
// overrides system defaults which seem to be wonky

// give space for draggable icon
tr.draggable td {
	padding-left: 25px;
}

// position the icon
.draggable a.tabledrag-handle {
	margin-left: -15px;
	min-height: 20px;
	
	&:hover {
		text-decoration: none;
	}
}

a.tabledrag-handle .handle {
	background-position: 0px 7px;
	height: 20px;
	margin: -0.4em 0.5em;
	padding: 0.42em 0.5em;
	width: 14px;
}

a.tabledrag-handle-hover .handle {
	background-position: 0 -13px;
}