//----------------------------------------------
//
//	TYPOGRAPHY - basic text element styles
//               and custom font declarations 
//
//	location: 
//      /sass/base/_typography.scss
//
//----------------------------------------------



/*-----------------------------------

 Custom Fonts
 
-----------------------------------*/

// add custom font declarations here >>





//--------------------------------------------------------
//--------------------------------------------------------
//
//	TEXT STYLES
// 
//--------------------------------------------------------
//--------------------------------------------------------

// Text color when selected
::-moz-selection,
::selection {
	color: $selection-text-color;
	background-color: $selection-background-color;
	text-shadow: none;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: $border-color;
}

dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
	margin-bottom: 1em;
	margin-top: 0;
}

p {
	word-wrap: break-word;
	margin-bottom: 1.5em;
	margin-top: 0;
}

.center {
	text-align: center;
}

.text-align-left {
    text-align: left !important;
}
.text-align-right {
	text-align: right !important;
}
.text-align-center {
	text-align: center !important;
}

/*-----------------------------------

 HEADINGS & TITLES - general
 
------------------------------------*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include title-style; // _variables-typography.scss
}

h1, h2 {
	//font-weight: normal; /* removes ugly bold rendering of custom title fonts - remove as necessary */
}



//------------------
//
//	h1
// 
//------------------

h1 {
	@include responsive-page-title; // _variables-typography.scss
}

.page-title h1, // basic page 
h1#page-title,
h1.page-title {
	color: $page-title-color;
	padding-bottom: 10px;
	border-bottom: 1px solid $border-color;
}

//------------------
//
//	h2
// 
//------------------

h2, 
h2.node__title,
h2.block__title,
h2.views-title {
	@include font-size(27px);
	color: $section-title-color;
}

.block--views h2.block__title,
.story-block h2.title,
.cards-block h2.title,
.field-name-recent-articles > h2.title {
	@include responsive-section-title;
	position: relative;
}

h2.node__title, 
h2.block__title {
	line-height: 1.2;
}



//--------------------
//
//	h3 - h6
// 
//--------------------

h3 {
	@include font-size(21px);
}
h4 {
	@include font-size(19px);
}
h5 {
	@include font-size(17px);
}
h6 {
	@include font-size(15px);
}

.smaller {
	font-size: 80%;
}


//-----------------------------------
//
//  Blockquotes
// 
//-----------------------------------

blockquote {
    font-style: italic;
    font-size: 20px;
    padding: 4vw 0;
    margin: 0 auto;
    position: relative;
    max-width: 728px;
    
    @include breakpoint($small-and-medium) {
	    padding: 60px 0 30px 0;
    }

	&:before {
	    content: "";
	    display: block;
	    position: absolute;
	    right: 102%;
	    top: 3vw;
	    z-index: 7;
	    line-height: 1;
	    width: 60px;
	    height: 60px;
	    background: url(../images/icons/icon-quote-open_black.svg) no-repeat scroll left top;
	    background-size: 100% auto;
	    opacity: 0.2;
	    
	    @include breakpoint($small-and-medium) {
		    right: 50%;
		    transform: translateX(50%);
	    }
    }
    
    .quote-attribution {
	    margin: 0;
    }
}

//-----------------------------------
//
//  Span tags within titles
//  HTML editor mode
// 
//------------------------------------

.pre-title {
	display: inline-block;
	font-size: 50%;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 10px;
    background: #aaa;
    margin-bottom: 10px;
    border-radius: 0px;
}
.main-title {
	display: block;
}
.post-title {
	display: inline-block;
	color: lighten($text-color, 30%);
    font-size: 0.6em;
    margin-top: 0.4em;
}

//-----------------------------------
//	
//  text alignment classes 
//	for default overrides
//	
//-------------------------------------

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}