{#
/**
 * @file commerce_price_adjustment.html.twig
 * Default theme implementation to present Price Adjustment data.
 *
 * This template is used when viewing Price Adjustment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_price_adjustment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('commerce_price_adjustment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
