//----------------------------------------------
//
//	STORY BLOCKS - Mixins
//
//	location: 
//      /sass/abstractions/_mixin-story-blocks.scss
//
//
//----------------------------------------------


// Dark BG Story blocks - for when you can't add the .dark-bg block class to the story block container block
@mixin sb-dark-bg {
	@include breakpoint($medium-up) {
		.image-overlay {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $overlay-bg-color-on-dark;
		}

		.title {
			color: $title-on-dark-color;
		}
		.field-name-body {
			color: $text-on-dark-color;
		}
		
		// button link
		.field-name-field-story-block-link,
		.field-name-field-story-block-videos {		
			a {
				@include button-on-dark;
			}
		}
	}
}

// change the order when stacking content so image is on top
// for left copy/right bg image only
@mixin sb-left-copy-stack {

	// modes with column bg images (50% width)
	&.node--left-copy-right-bg-image,
	&.node--right-copy-left-bg-image {
		
		// force columns to stack in medium (tablet) layout
		@include breakpoint($medium-only) {
			&.col-bg-image .col {
				width: 100%;
			}
		}
	}
		
	&.node--left-copy-right-bg-image {
		
		&.left-copy {
			
			@include breakpoint($medium-only) {
				
				// text
				.col-1-wrapper {
					@include order($int: 2); // flexbox mixins - order
					padding-top: 5%; // lower to push text closer to the image above it
				}
				
				// image
				.col-2-wrapper {
					@include order($int: 1); // flexbox mixins - order
					height: 400px;
					background-position: center center;
				}
			}
		}
	}
}

@mixin sb-fixed-bg-height {
	@include breakpoint($small-only) {
		height: $sb-fixed-bg-height-sml;
	}
	@include breakpoint($medium-only) {
		height: $sb-fixed-bg-height-med;
	}
	@include breakpoint($large-up) {
		height: $sb-fixed-bg-height-lrg;
	}
}



