//----------------------------------------------
//
//	Responsive Grids - mixins for grids
//
//	location: 
//      /sass/abstractions/mixins/_mixin-responsive-grids.scss
//
//
//----------------------------------------------



// These are mixins to use on the grid-item <li> or whatever element
@mixin flexgrid-1 {
	width: 100%;
	margin: 0 0 $vert-spacing-unit 0;
}

// two items across
@mixin flexgrid-2 {
	width: 48%;
	margin: 0 3.8% 4% 0;
	
	&:nth-child(2n+0) {
		margin-right: 0;
	}
}

// three items across
@mixin flexgrid-3 {
	width: 30%;
	margin: 0 4.9% 5% 0;
	
	&:nth-child(3n+0) {
		margin-right: 0;
	}
}

// four items across
@mixin flexgrid-4 {
	width: 22%;
	margin: 0 3.8% 4% 0;
	
	&:nth-child(4n+0) {
		margin-right: 0;
	}	
}

// five items across
@mixin flexgrid-5 {
	width: 16%;
	margin: 0 4.9% 5% 0;
	
	&:nth-child(5n+0) {
		margin-right: 0;
	}	
}

@mixin grid-whatever($grid-item-width,$grid-item-height,$grid-item-margin) {
	
}


@mixin css-grid {
	// resets values for when class is placed on <ul>
	margin: 0 0 3rem 0;
	padding: 0;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	// if the browser supports css grid, then...
	@supports (display:grid) {
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
		grid-gap: 40px 3.8%;
	}
}

@mixin responsive-grid-item {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	
	// for flexbox fallback if css grid not supported
	@supports not (display:grid) {
		.grid-row {
			@include breakpoint($small-only) {
				@include flexgrid-1;
			}
			@include breakpoint($medium-up) {
				@include flexgrid-2;
			}
			@include breakpoint($large-up) {
				@include flexgrid-3;
			}
			@include breakpoint($xlarge-up) {
				@include flexgrid-4;
			}
		}
	}
}