//------------------------------------------------------
//
//	MIXINS - TYPOGRAPHY 
//
//	location: 
//      /sass/abstractions/mixins-typography.scss
//
//------------------------------------------------------



// Use REMs with a pixel fallback for font sizing.
@mixin font-size($font-size){
	font-size: $font-size;
	font-size: ($font-size / $base-font-size)*1rem;
}

// Basic sitewide body text
@mixin base-text-style {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $text-color;
	letter-spacing: $base-letter-spacing;
}

@mixin responsive-body-text {
	@include breakpoint($small-only) {
		@include font-size(18px);
	}
	@include breakpoint($large-up) {
		@include font-size(22px)
	}
}


// Titles
@mixin title-style {
	font-family: $title-font-family;
	font-weight: $title-font-weight;
	margin: $title-margin;
	color: $title-color;
	line-height: $title-line-height;
	text-transform: $title-text-transform;
}

// Page TITLE - responsive sizes
@mixin responsive-page-title {
	
	@include breakpoint($small-up) {
		@include font-size(30px);
	}
	@include breakpoint($medium-up) {
		@include font-size(40px);
	}
	@include breakpoint($large-up) {
		@include font-size(45px);
	}
}

// Section TITLE - responsive sizes
@mixin responsive-section-title {
	
	@include breakpoint($small-up) {
		@include font-size(30px);
	}
	@include breakpoint($medium-up) {
		@include font-size(35px);
	}
	@include breakpoint($large-up) {
		@include font-size(40px);
	}
}

// Section SUBTITLE - responsive sizes
@mixin responsive-section-subtitle {
	
	@include breakpoint($small-up) {
		@include font-size(25px);
	}
	@include breakpoint($medium-up) {
		@include font-size(22px);
	}
	@include breakpoint($large-up) {
		@include font-size(30px);
	}
}

// CARDS TITLE - responsive sizes
@mixin responsive-card-title {

	@include breakpoint($small-up) {
		@include font-size(25px);
	}
	@include breakpoint($medium-up) {
		@include font-size(22px);
	}
	@include breakpoint($large-up) {
		@include font-size(30px);
	}
}

// Captions
// these mixins are used in .dark-bg & .light-bg styles in _story-blocks.scss
@mixin caption-light {
	color: $caption-light-color;
	
	&:before, &:after {
		color: $caption-light-color;
	}
}
@mixin caption-dark {
	color: $caption-dark-color;
	
	&:before, &:after {
		color: $caption-dark-color;
	}
}