//------------------------------------------------------
//
//	BANNERS - Styles for anonymous notifications on site
//
//	location: 
//      /sass/components/_banners.scss
//
//------------------------------------------------------


//------------------------------------------------------
//
//	Episodes page Anonymous Join Banner (top of page)
//
//------------------------------------------------------


.block-anon-join-1 {
    
    background-repeat: no-repeat;
    @include flexbox;
    
    @include breakpoint($small-only) {
		@include flex-wrap($value: wrap);
		text-align: center;
	}
	@include breakpoint($medium-up) {
		@include flex-wrap($value: nowrap);
		text-align: right;
	}
        
	background: #2a2c2d; /* Old browsers */
	background: -moz-linear-gradient(35deg, #2a2c2d -1%, #2a2c2d 0%, #2a2c2d 50%, #FC6C11 50%, #FC6C11 52%, #FC6C11 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(35deg, #2a2c2d -1%,#2a2c2d 0%,#2a2c2d 50%,#FC6C11 50%,#FC6C11 52%,#FC6C11 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(35deg, #2a2c2d -1%,#2a2c2d 0%,#2a2c2d 50%,#FC6C11 50%,#FC6C11 52%,#FC6C11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2c2d', endColorstr='#FC6C11',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
	
	.column-left,
	.column-right {
		padding: 6vw;
		
		@include breakpoint($small-only) {
			@include flex($fg: 0, $fs: 0, $fb: 100%);
		}
		@include breakpoint($medium-up) {
			@include flex($fg: 0, $fs: 0, $fb: 50%);
		}
	}
	
	.column-left {
		background: url(../images/gearznation/logo-gearz-nation.png) no-repeat scroll center center;
		background-size: 80% auto;	
		
		@include breakpoint($small-only) {
			min-height: 150px;
			background-size: 80% auto;
			background-color: #2a2c2d;
			display: none;
		}
		@include breakpoint($medium-only) {
			min-height: 200px;
			background-size: 300px auto;
			//background-color: #2a2c2d;
		}
		@include breakpoint($small-and-medium) {
			//display: none;
		}	
	}
    
    .column-right {
	    @include breakpoint($large-up) {
			padding: 6vw 6vw 6vw 3vw;
		}
		@include breakpoint($small-only) {
			background-color: #FC6C11;
		}
    }
    
    
    h2 {
	    color: #fff;
	    
	    @include breakpoint($medium-only) {
		    @include font-size(21px);
	    }
    }
    
    p {
	    margin: 0;
    }
    .button.is-on-dark {
	    background-color: #000;
	    border-color: #000;
	    
	    &:hover {
		    background-color: #fff;
		    border-color: #fff;
		    color: #000;
	    }
    }
}

//------------------------------------------------------
//
//	ANON Free Trial Banner
//
//------------------------------------------------------

.banner-free-trial {
    background-repeat: no-repeat;
    background: #2a2c2d; /* Old browsers */
	background: -moz-linear-gradient(35deg, #2a2c2d -1%, #2a2c2d 0%, #2a2c2d 50%, #585B5F 50%, #585B5F 52%, #585B5F 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(35deg, #2a2c2d -1%,#2a2c2d 0%,#2a2c2d 50%,#585B5F 50%,#585B5F 52%,#585B5F 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(35deg, #2a2c2d -1%,#2a2c2d 0%,#2a2c2d 50%,#585B5F 50%,#585B5F 52%,#585B5F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2c2d', endColorstr='#585B5F',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .field-name-body {
	    @include flexbox;
    
	    @include breakpoint($small-only) {
			@include flex-wrap($value: wrap);
		}
		@include breakpoint($medium-up) {
			@include flex-wrap($value: nowrap);
		}
    }
    
        
    
	
	.column-left,
	.column-right {
		padding: 6vw;
		
		@include breakpoint($small-only) {
			@include flex($fg: 0, $fs: 0, $fb: 100%);
		}
		@include breakpoint($medium-up) {
			@include flex($fg: 0, $fs: 0, $fb: 50%);
		}
	}
	
	.column-left {
				
		@include breakpoint($small-only) {
			text-align: center;
			padding-bottom: 0;
		}
		@include breakpoint($medium-up) {
			text-align: right;
		}
		
		h3 {
			font-size: 5vw;
			color: #fff;
			line-height: 1;
			margin-bottom: 1.5vw;
			
			@include breakpoint($small-only) {
				margin-bottom: 20px;
				font-size: 11vw;
			}
		}
		.button {
		    font-size: 3vw;
		    padding: 1.5vw;
		    
		    @include breakpoint($small-only) {
				font-size: 5vw;
				padding: 3vw;
			}
		}
	}
    
    .column-right {
	    @include breakpoint($small-only) {
			padding: 30px;
		}
	    @include breakpoint($large-up) {
			padding: 6vw 6vw 6vw 0vw;
		}
    }
    
    
    h2 {
	    color: #fff;
	    
	    @include breakpoint($medium-only) {
		    @include font-size(21px);
	    }
    }
    
    p {
	    margin: 0;
    }
    .button.is-on-dark {
	    background-color: #000;
	    border-color: #000;
	    
	    &:hover {
		    background-color: #fff;
		    border-color: #fff;
		    color: #000;
	    }
    }
}