//--------------------------------------------------
//
//	FOOTER - general styles for and layout
//
//	location: 
//      /sass/base/_lists.scss
//
//--------------------------------------------------


//-------------------------------------------------
//-------------------------------------------------
//	
//	Pre-footer
//	
//-------------------------------------------------
//-------------------------------------------------

.l-pre-footer-wrapper {
	background-color: $footer-bg-color;
	position: relative;	
		
	.l-constrained {
		text-align: center;
		@include unconstrained;
	}
	
	.footer-call-to-action {
		text-align: center;
	}
	h2 {
		color: $white;
		@include responsive-section-title;
		margin-bottom: $vert-spacing-unit/1.5;
	}
	
	
	// contact us button
	a.button {
		display: block;
		@include button-on-dark;
		
		@include breakpoint($medium-up) {
			@include font-size(28px);
			display: inline-block;
		}
	}
}



//-------------------------------------------------
//-------------------------------------------------
//
//	Footer - Layout
// 
//-------------------------------------------------
//-------------------------------------------------


// footer outer wrapper
.l-footer-wrapper {
	background-color: $footer-bg-color;	
}

// footer inner wrapper
.l-footer-inner {
	@extend %clearfix;
	padding: 1.5em 0 0;
	color: $footer-text-color;
	@include font-size(18px);
	@include flexbox;
	
	// columns for small layouts
	@include breakpoint($small-and-medium) {
		@include flex-direction($value: column);
		@include align-items($value: center);
		@include flex-wrap($value: wrap);
		text-align: center;
	}
	
	// rows for larger layouts
	@include breakpoint($medium-up) {
		padding: 3em 0 0;
		text-align: left;
	}
	
	@include breakpoint($large-up) {
		@include flex-wrap($value: nowrap);
		@include flex-direction($value: row);
	}

	
	.footer-region {		
		@include breakpoint($small-only) {
			margin-bottom: $vert-spacing-unit;
		}
	}

	
	// footer nav menus
	ul.menu {
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;
		}
	}
	
	// footer links
	& a {
		color: $footer-link-color;
		
		&:hover {
			color: $footer-link-hover-color;
		}
	}
}

.l-footer-region {
    width: 100%;
}

.footer-inner {
	@include flexbox;
    width: 100%;
    
    @include breakpoint($small-only) {
	    @include flex-flow($values: (column wrap));
    }
    @include breakpoint($medium-up) {
	    @include flex-flow($values: (row nowrap));
    }
}


//-----------------------------------
//
// Footer Logo
// 
//-----------------------------------

footer {
	
	// overrides to header logo
	.block-system-branding-block {
		width: auto;
		max-width: 300px;
		padding: 15px 0;
		margin: 0;
	
		@include breakpoint($large-up) {
		    margin: -5px 30px 0 20px;
		    padding: 0;
		}
		
		h1 {
			margin: 0;
		}
	}
}


//-----------------------------------
//
// Footer Contact
// 
//-----------------------------------


.footer-contact {
    color: #ccc;
    
    @include breakpoint($medium-up) {
    	@include flex($fg: 1, $fs: null, $fb: 50%);
    }
}
.footer-contact-form {
	@include breakpoint($medium-up) {
    	@include flex($fg: 1, $fs: null, $fb: 50%);
    }
}


//-----------------------------------
//
// Footer Nav
// 
//-----------------------------------

.footer-nav {
	
	> ul.menu {
	    margin: 5px 0 0;
	    padding: 0;
	    
	    @include breakpoint($medium-up) {
	    	@include flexbox;
	    }
	    
	     > li.menu-item {
		    display: block;
		    margin: 0 30px 15px 0;
		    vertical-align: top;
		    flex: 1 1 auto;
		    padding-bottom: 10px;
	
		    
		    a.main-nav {
			    font-size: 15px;
			    margin-bottom: 5px;
			    display: block;
			    color: #eee;
			    font-weight: bold;
			    
			    &:hover {
				    color: $primary-color;
			    }
			}
		}
		
		ul.menu {
		    display: block;
		    
		    li {
			    list-style-type: none;
			    
			    .sub-nav {
				    font-size: 15px;
				    color: #999;
				}
		    }
		}
	}
}


//-------------------------------------------------
//-------------------------------------------------
//
//	Post Footer
//	
//-------------------------------------------------
//-------------------------------------------------

.l-post-footer-wrapper {
	padding: 30px 0;
	background-color: $post-footer-bg-color;
	text-align: center;
	@include font-size(16px);
}
	
//-----------------------------------
// Privacy
//-----------------------------------

.menu--privacy-footer {
	ul {
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
			margin-right: 20px;
			padding: 0;
			
			a {
				color: $footer-link-color;
				
				&:hover {
					color: $footer-link-hover-color;
				}
			}
		}
	}
}

//-----------------------------------
// Copyright
//-----------------------------------

.footer-copyright {
	color: $footer-text-color;
	display: inline-block;
	
	p {
		margin-bottom: 5px;
	}
	
	a {
		color: $footer-link-color;
		
		&:hover {
			color: $footer-link-hover-color;
		}
	}
}




