//----------------------------------------------
//
//	HERO - styles for hero in header
//				 image in background and logo
//
//	location: 
//      /sass/components/_brand-hero.scss
//
//----------------------------------------------


.hero-wrapper {
    padding: 20vw 8vw;
    overflow: hidden;
    width: 100%;
    position: relative;
    
    .hero-title-body-wrapper {
	    text-align: center;
	    max-width: 50em;
		margin: 0 auto;
	    
	    .title {
		    color: $hero-title-color;
		    margin-bottom: 0.5em;
	    }
	    .field-name-body {
		    color: $hero-text-color;
		    font-size: 1.5em;
			line-height: 1.4;
	    }
	}
}


