//------------------------------------------------------
//
//	LOGO - style the site logo image uploaded through 
//         the back end
//
//	location: 
//      /sass/components/_logo.scss
//
//------------------------------------------------------


// Logo container/region
.l-branding {
	background-color: transparent;
	height: auto;
	
	@include breakpoint($small-only) {
		@include border-bottom(#555);
		padding-left: 15px;
	}
	@include breakpoint($medium-up) {
		width: 170px;
		float: left;
		margin: -22px 10px 0 20px;
	}
	@include breakpoint($large-up) {
		width: 200px;
	    float: left;
	    margin: -30px 20px 0 20px;
	}
	@include breakpoint($xlarge-up) {
		width: 260px;
	    float: left;
	    margin: -42px 30px 0 20px;
	}
}

.site-logo {
	display: block;
	
	.site-name {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
}