//------------------------------------------------------
//
//	LOGO - style the site logo image uploaded through 
//         the back end
//
//	location: 
//      /sass/components/_logo.scss
//
//------------------------------------------------------


// Logo container/region
.l-branding {
	background-color: transparent;
	height: auto;
	

}

.block-system-branding-block {
	
	@include breakpoint($small-only) {
		@include border-bottom($border-color);
		padding-left: 15px;
	}
	@include breakpoint($medium-up) {
		width: 80px;
		float: left;
		margin: 14px 30px 0 0;
	}
	@include breakpoint($large-up) {
		width: 100px;
		float: left;
		margin: 14px 30px 0 0;
	}
}

// for when nav becomes fixed pos on scroll up
.fixed {
	.block-system-branding-block {
		width: 30px;
		height: 30px;
		background: transparent url(../images/logo-btw-icon-white.svg) no-repeat scroll left top;
		background-size: 100% auto;
		margin-top: 9px;
		margin-left: 5%;
		
		img {
			visibility: hidden;
			height: 30px;
		}
	}
}

.site-name {
	//display: none; // temporary
}

a.site-logo {
	display: block;
	
	@include breakpoint($small-only) {
		
	}
	@include breakpoint($medium-up) {

	}
	@include breakpoint($medium-only) {

	}
	@include breakpoint($large-up) {

	}
}


