//------------------------------------------------------
//
//	NAVIGATION - Main site navigation - non-mobile
//
//	location: 
//      /sass/components/_navigation.scss
//
//------------------------------------------------------


// this selector (.l-header) is here to differentiate between 
// this menu block and the one used for mobile nav
.l-header {
	
	// List items
	nav.menu--main {	    
				
		.menu {
			margin: 0;
			padding: 0;
			overflow: visible;
			position: relative;
			background-color: $nav-bar-bg-color;
			
			li {
				margin: 0;
				padding: 0;
				list-style-type: none;
				float: left;
				position: relative;
				font-family: $nav-font-family;
				font-weight: $nav-font-weight;
				line-height: $nav-line-height;
				
				&.menu-item--active-trail {
					background-color: $nav-button-bg-active-color;
				}
				&.leaf,
				&.collapsed,
				&.expanded {
					list-style-image: none;
				}
				
				// keeps main nav link in a persistent hover state while cursor moves to subnav list
				&:hover {
					background-color: $nav-button-bg-hover-color;
					
					> a {
						background-color: $primary-color;
						color: $nav-text-hover-color;
					}
				}
				
				// Nav button links
				> a.main-nav {
					display: block;
					color: $nav-text-color;
					background-color: $nav-button-bg-color;
					letter-spacing: 0.02em;
					font-weight: bold;
					
					@include breakpoint($small-only) {
						@include font-size(17px);
						padding: 10px;
					}
					@include breakpoint($nav-medium-only) {
						@include font-size(18px);
						padding: 22px 10px 20px;
					}
					@include breakpoint($nav-large-only) {
						@include font-size(18px);
						padding: 22px 10px 20px;
					}
					@include breakpoint($nav-xlarge-up) {
						@include font-size(20px);
						padding: 22px 15px 22px;
					}
					
					&:hover {
						color: $nav-text-hover-color;
						background-color: $nav-button-bg-hover-color;
						text-decoration: none;
					}
					&.active-trail,
					&.active-trail:hover {
						background-color: $nav-button-bg-active-color;
					}
				}
								
				//--------------------------------------
				//	sub nav menus 
				//--------------------------------------
				
				ul.menu {
					position: absolute;
					left: 0;
					visibility: hidden;
					@include transition-opacity;
					background-color: $subnav-bar-bg-color;
					left: -9999px; // hide offscreen when not needed - more accessible than display:none
					
					@include breakpoint($nav-medium-only) {
						top: $header-clear-nav-medium;
						min-width: 170px;
					}
					@include breakpoint($nav-large-up) {
						top: $header-clear-nav-medium;
						min-width: 170px;
					}
					@include breakpoint($nav-xlarge-up) {
						top: $header-clear-nav-large;
						min-width: 170px;
					}
									
					li {
						float: none;
						overflow: hidden;
						
						a.sub-nav {
							padding: 10px 22px;
							color: $subnav-text-color;
							background-color: $subnav-button-bg-color;
							@include font-size(14px);
							font-family: $subnav-font-family;
							font-weight: $subnav-font-weight;
							line-height: $subnav-line-height;
							display: block;
							
							@include breakpoint($nav-medium-only) {
								@include font-size(14px);
							}
							@include breakpoint($nav-large-up) {
								@include font-size(17px);
							}
							
							&:hover,
							&:active,
							&.active-trail {
								color: $subnav-text-hover-color;
								background-color: $subnav-button-bg-hover-color;
								text-decoration: none;
							}
							&:hover {
								padding-left: 20px;
							}
						}
						&:hover:before {
							display: none;
						}
					}
				}
				
				// show sub-menu on hover
				&:hover ul.menu {
					display: block;
					opacity: 1;
					visibility: visible;
					left: 0;
				}
				
				// shift user nav sub-menu over to align with right edge
				// so doesn't go off screen
				&:last-child:hover ul.menu {
					left: -80px;
				}
			}
		}
	}
}