//------------------------------------------------------
//
//	PAGERS - Basic styles for load more and entity pagers
//
//	location: 
//      /sass/components/_pagers.scss
//
//------------------------------------------------------


// HIDE previous / next on the first / last items in the list queue


// PREVIOUS on first item in list = Nexus
.page-node-32 {
	.entity-pager-item-prev {
		.inactive {
	    	display: none;
	    }
	}
}

// NEXT on last item in list = 
.page-node-35 {
	.entity-pager-item-next {
		.inactive {
	    	display: none;
	    }
	}
}

/*--------------------------------------------------
----------------------------------------------------

 PAGERS
 
----------------------------------------------------
--------------------------------------------------*/

//-------------------------------------------
//
// Product list PAGER
//
//-------------------------------------------

ul.pager__items {
	margin: 0;
	padding: 0;
	text-align: center;
	
	li {
		&.pager__item {
		    list-style-type: none;
		    margin: 0 10px 0 0;
		    display: inline-block;
		    
		    a {
			    display: block;
			    text-align: center;
			    border: 1px solid #555;
			    padding: 5px 10px;
			    border-radius: 4px;
			    color: #555;
			    
			    &:hover {
				    background: #222;
				    border-color: #222;
				    color: #fff;
				    text-decoration: none;
				}
			}
		}
		&.pager__item--active {
			a {
				background: #222;
			    border-color: #222;
			    color: #fff;
			    text-decoration: none;
			}
		}
	}
}

/*------------------------------------

 ENTITY PAGER - Previous / Next 
 
-------------------------------------*/

.entity-pager-wrapper {
    margin-top: 5vw;
}

// outer container
.entity-pager {
	height: auto;
	position: relative;
	margin: 0 auto;
	@include flexbox;
}

// list container <ul>
.entity-pager-list {
	width: 100%;
	@include flexbox;
	margin: 0;
	
	.entity-pager-item {
		margin: 0;
		@include flex($fg: 0, $fs: 0, $fb: 50%);
	}
}

// list item <li>
.entity-pager-item {
	height: 15vw;
	width: calc(50% - 15px);
	position: relative;
	overflow: hidden;
	
	@include breakpoint($medium-up) {
		background-color: #eee;
	}
	
	// link wrapper
	a {
		color: #fff;
		display: block;
		line-height: 1.3;
		height: 100%;
		position: relative;
		text-decoration: none;
		text-transform: capitalize;
		@include transition(all, 0.2s, ease-in);
	}
	
	// background image
	img {
	    position: absolute;
	    width: 100%;
	    height: auto;
	    left: 50%;
	    top: 50%;
	    @include centerXY;
	    @include transition(all, 0.2s, ease-out);
	    
	    // hide in mobile
	    @include breakpoint($small-only) {
		    display: none;
	    }
	}
	
	// overlay
	span:nth-of-type(1) {
	    display: block;
	    background: rgba(0,0,0,0.5);
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    z-index: 1;
	    @include transition(all, 0.2s, ease-in);
	    
	    // hide in mobile
	    @include breakpoint($small-only) {
		    display: none;
	    }
	}
	
	// title
	h4 {
		width: calc(100% - 100px);
		position: absolute;
		color: #fff;
		font-size: 2vw;
		@include centerY;
		z-index: 3;
		margin: 0;
		
		@include breakpoint($small-only) {
			font-size: 2.5vw;
			color: #000;
			width: calc(100% - 50px);
			font-weight: normal;
		}
	}
	
	// icon
	span:nth-of-type(2) {
	    width: 25px;
	    height: 100%;
	    display: block;
	    position: absolute;
	    top: 0;
	    z-index: 2;
	    
	    @include breakpoint($medium-up) {
		    width: 40px;
		    background-color: rgba(254, 108, 0, 0.7);
	    }
	    @include breakpoint($large-up) {
		    width: 54px;
	    }
	}
	
	&:hover {
		span:nth-of-type(1) {
			background-color: rgba(0,0,0,0.7);
		}
		img {
			transform: translate(-50%,-50%) scale(1.2) rotate(-1deg);
		    left: 50%;
		    top: 50%;
		}
	}
}


// hide the span that isn't a link
.entity-pager-item {
	.inactive {
		display: none;
	}
}

/*-----------------------
 << PREVIOUS 
------------------------*/

.entity-pager-item-prev {

    
    // arrow icon
    span:nth-of-type(2) {
	    @include breakpoint($medium-up) {
	    	left: -100%;
			transition: all 0.2s ease;
	    }
	    
	    &:before {
			content:"";
			width: 20px;
			height: 34px;
			background: url(../images/icons/arrow-left-white.svg) no-repeat scroll right center;
			background-size: 100% auto;
			position: absolute;
			left: 15px;
			@include centerY;
			
			@include breakpoint($small-only) {
				background-image: url(../images/icons/arrow-left.svg);
				left: 0;
			}
		}
    }
    
    // title
	h4 {
		text-align: left;
		margin-left: 35px;
		padding-right: 20px;
		left: 0;
		transition: all 0.2s ease;
		display: inline-block;
		vertical-align: middle;
	}
    
    // ----- animate on hover -----
    @include breakpoint($medium-up) {
	    &:hover {
	    	// icon
			span:nth-of-type(2) {
				left: 0;
			}
			
			// title
			h4 {
				margin-left: 80px;
			}
		}
	}

	
	a {
	    position: relative;
	    overflow: hidden;
	    
	    @include breakpoint($small-only) {
		    overflow: hidden;
	    }
		
	
		&:hover {
			text-decoration: none;
			color: #333;
			
			&:before {
				background-image: url(../images/icons/arrow-left.svg);
				
				@include breakpoint($medium-up) {
					left: -20px;
				}
			}
		}
	}
}




/*-----------------------
 NEXT >> 
-------------------------*/

.entity-pager-item-next {
   
    // arrow icon
	span:nth-of-type(2) {
		right: 0;
		
		// move offscreen and set animation transition time
		@include breakpoint($medium-up) {
	    	right: -100%;
			transition: all 0.2s ease;
	    }
	    
	    &:before {
			content:"";
			width: 20px;
			height: 34px;
			background: url(../images/icons/arrow-right-white.svg) no-repeat scroll right center;
			background-size: 100% auto;
			position: absolute;
			right: 15px;
			@include centerY;
			
			@include breakpoint($small-only) {
				background-image: url(../images/icons/arrow-right.svg);
				right: 0px;
			}
		}
    }
    // title
	h4 {
		text-align: right;
		right: 0;
		margin-right: 35px;
		padding-left: 20px;
		transition: all 0.2s ease;
	}
    
    // ----- animate on hover -----
    @include breakpoint($medium-up) {
	    &:hover {
	    	// arrow icon
			span:nth-of-type(2) {
				right: 0;
			}
			h4 {
				margin-right: 80px;
			}
		}
	}
        
    a {
		text-align: right;
	    position: relative;
	    overflow: hidden;
	    
	    @include breakpoint($small-only) {
		    overflow: hidden;
	    }
	
	}
}



/*-------------------------
 ALL - list link 
--------------------------*/

// override .grid default - not sure why grid class is on container
.grid {
	.entity-pager {
		li.entity-pager-item-all {
			position: absolute;
		}
	}
}

.entity-pager-item-all {
	position: absolute;
	top: 50%;
    left: 50%;
	@include centerXY;
	z-index: 3;
	width: 4.5vw;
	height: 4.5vw;
	
	@include breakpoint($small-only) {
		width: 7.5vw;
		height: 7.5vw;
	}
	
	a {
		overflow: hidden;
		height: 0;
		width: 4.5vw;
		padding-top: 4.5vw;
		background: #000;
		display: block;
	    
	    @include breakpoint($small-only) {
			width: 7.5vw;
			padding-top: 7.5vw;
		}
	    
	    &:hover {
		    background-color: $primary-color;
		    color: #fff;
	    }
		
		// icon
		&:before {
			content: "";
			display: block;
			position: absolute;
			background: url(../images/icons/bars-white.svg) no-repeat scroll center center;
			vertical-align: middle;
			speak: none;
			background-size: 80% auto;
			width: 3vw;
			height: 3vw;
			left: 50%;
			top: 50%;
			@include centerXY;
			
			@include breakpoint($small-only) {
				width: 5vw;
				height: 5vw;
			}
		}
	}
}

