//----------------------------------------------
//
//	CARD Paragraph Type - default styles
//
//	location: 
//      /sass/components/paragraps/_cards.scss
//
//----------------------------------------------



// Paragraph Outer Wrapper
.paragraph--type-cards {
    padding: 8vw;
   
    // Intro text
    .cards-intro {
	    text-align: center;
	    max-width: 800px;
		margin: 0 auto 5vw;
    }
    
    // Cards Wrapper
    .cards-wrapper {
	    display: flex;
	    flex-wrap: wrap;
		justify-content: center;
	}
	
	// Individual card
    .card {
	    flex: 1 1 300px;
	    padding: 0 25px;
	    margin-bottom: 50px;
	    text-align: center;
	    max-width: 400px;
	}
	
	// h3 title
	.card-title {
		@include responsive-card-title;
		margin-bottom: 0.5em;
	}
	
	// Card img
	.field-name-sub-card-image {
	    margin-bottom: 30px;
	}
	
	// Card link
	.field-name-field-sub-card-link {
		a {
		    @include button;
		    
		    &:hover {
			    @include button-hover;
		    }
		}
	}
	
	// Sub Cards
	.paragraph--type-sub-card { // ultimately add .icon-img to the selector once the ability to add classes to sub cards is enabled
		.field-name-sub-card-image {
		    margin: 0 auto 30px;
		    max-width: 150px;
	    }
	}
}
