//----------------------------------------------
//
//	STORY BLOCKS - basic styles for paragraph story blocks
//
//	location: 
//      /sass/components/story-blocks/_story-blocks.scss
//
//----------------------------------------------



.story-block {
	background-size: cover;
	background-position: center center;
	position: relative;
	
	// hide bg image - each SB has a mobile img field
	@include breakpoint($small-only) {
		background-image: none;
	}
	
	// Overlay div for shading bg images
	.image-overlay {
		
		@include breakpoint($small-only) {
			display: none;
		}
		
		@include breakpoint($medium-up) {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	
	//----------------------
	//	Column Wrapper
	//	-flex parent
	//----------------------

	.story-block-inner {
		position: relative;
		@include flexbox;
		@include flex-flow($values: (row wrap));
		@include justify-content($value: flex-start);
		@include align-content($value: stretch);
		@include align-items($value: stretch);
		
		@include breakpoint($small-only) {
			padding: 30px;
		}
	}
	
	//-----------------------
	//	Columns
	//	-flex children
	//-----------------------
	
	.group-left,
	.group-right {
		@include flex-grow($int: 0);
		@include flex($fg: 0, $fs: 1, $fb: auto);
		@include align-content($value: stretch);
		@include justify-content($value: flex-start);
		@include align-items($value: stretch);
		
		background-position: center center;
		background-size: cover;
	}
	
	// story block title h2
	.title {
		@include responsive-section-title;
	}
	
	// story block body text
	.field-name-story-block-text {
		@include responsive-body-text;
	}
	
	// content field link - default with no indication .dark-bg or .light-bg
	.field-name-story-block-link,
	.field-name-story-block-videos {
		a {
			@include button;
			@include font-size(20px);
		}
	}
	
	// Extra image in left/right text and bg image view modes
	.field-name-story-block-extra-image {
		figure {
			margin: 0;
			
			@include breakpoint($small-only) {
				margin-top: 40px;
			}
		}
	}
	
	// Video Popup Link Field
	.mfp-video-embed-all-items {
		.mfp-video-embed-popup {
			@include button;
			cursor: pointer;
		}
	}
	
	
	/*------------------------------------------------
		
		DEFAULT View mode - encourage to change from default
		with color and text
		
	-------------------------------------------------*/
	
	&.paragraph--view-mode-default {
	    padding: 8vw;
	}
	
	/*------------------------------------------------
		
		VIEW MODES with FULL WIDTH BACKGROUND IMAGES
		
	------------------------------------------------*/
	
	// center text bg img
	&.paragraph--view-mode-center-text-h1-title-bg-image,
	&.paragraph--view-mode-center-text-full-bg-image,
	// left or right text, full bg image
	&.paragraph--view-mode-right-text-full-bg-image,
	&.paragraph--view-mode-left-text-full-bg-image {
		
		@include breakpoint($small-only) {
			background-image: none;
		}
	}

	// center copy with bg image
	&.paragraph--view-mode-center-text-h1-title-bg-image,
	&.paragraph--view-mode-center-text-full-bg-image {
		
		.story-block-inner {
			padding: 8vw 0;
			position: relative;
			
			@include breakpoint($small-only) {
				padding: 0 30px 60px;
			}
			
			@include breakpoint($medium-up) {
				padding: 8vw;
			}
			
			.group-left,
			.group-right {
				width: 100%;
				z-index: 2;
			}
		}
	}
	
	/*---------------------------------------------
		
		Single Text Column with FULL WIDTH bg image
		
	----------------------------------------------*/
	
	// LEFT text, full width bg img
	&.paragraph--view-mode-left-text-full-bg-image {

		@include breakpoint($small-only) {
			.group-left {
				
			}
		}
		@include breakpoint($medium-up) {
			
			// image column
			.group-left {
				width: 50%;
				padding: 8vw;
			}
			
			// text column
			.group-right {
				width: 50%;
				padding: 4vw;
			}
			
			
		}		
	}
	
	// RIGHT text, full width bg img
	&.paragraph--view-mode-right-text-full-bg-image {

		@include breakpoint($medium-up) {
			
			// image column
			.group-left {
				width: 50%;
				padding: 4vw;
			}
			
			// text column
			.group-right {
				width: 50%;
				padding: 8vw;
			}
		}		
	}
	
	
	/*---------------------------------------------
		
		Text Column and Image Column (no backgrounds)
		
	----------------------------------------------*/

	// LEFT text RIGHT image
	&.paragraph--view-mode-left-text-right-image {
		
		// hide non-mobile image
		@include breakpoint($small-only) {
			.group-right {
				display: none;
			}
		}

		@include breakpoint($medium-up) {
			
			// image column
			.group-left {
				width: 50%;
				padding: 8vw;
			}
			
			// text column
			.group-right {
				width: 50%;
				padding: 8vw 8vw 8vw 0;
				
				figure {
					margin: 0;
				}
				figcaption {
				    text-align: center;
				    font-size: .8em;
				    margin: .05em 0 0;
				}
			}
		}		
	}
	
	// RIGHT text LEFT image
	&.paragraph--view-mode-right-text-left-image {
		
		// hide non-mobile image
		@include breakpoint($small-only) {
			.group-left .field-name-field-story-block-images {
				display: none;
			}
		}

		@include breakpoint($medium-up) {
			
			// image column
			.group-left {
				width: 50%;
				padding: 8vw 0 8vw 8vw;
				
				figure {
					margin: 0;
				}
				figcaption {
				    text-align: center;
				    font-size: .8em;
				    margin: .05em 0 0;
				}
			}
			
			// text column
			.group-right {
				width: 50%;
				padding: 8vw;
			}
		}		
	}
	

	
	/*---------------------------------------------
		
		Text Column with BG image column
		
	----------------------------------------------*/
	
	// for column bg images, negate constrained styling
	&.paragraph--view-mode-left-text-right-bg-image,
	&.paragraph--view-mode-right-text-left-bg-image {	
			
		@include breakpoint($medium-up) {
			.story-block-inner {
				width: 100%;
				padding: 0;
			}
		}
	}
	
	// LEFT text, RIGHT image
	&.paragraph--view-mode-left-text-right-bg-image {
		
		@include breakpoint($medium-up) {
			
			// text column
			.group-left {
				
				// need to reorder so image is on top in mobile only
				@include breakpoint($small-only) {
					@include order($int: 2); // flexbox mixins - order
					padding-top: 5%; // lower to push text closer to the image above it
				}
				
				@include breakpoint($medium-up) {
					width: 50%;
					padding: 8vw;
				}				
			}
			
			// image column
			.group-right {
				
				@include breakpoint($small-only) {
					@include order($int: 1); // flexbox mixins - order
					height: 400px;
					background-position: center center;
				}
				
				@include breakpoint($medium-up) {
					width: 50%;
					padding: 4vw;
				}
			}
		}
	}
	
	// RIGHT text, LEFT image
	&.paragraph--view-mode-right-text-left-bg-image {
		
		@include breakpoint($medium-up) {
			
			// image column
			.group-left {
				width: 50%;
				padding: 4vw;
				background-position: center center;
			}
			
			// text column
			.group-right {
				width: 50%;
				padding: 8vw;
			}
		}
	}
	
	// Mobile image
	
	.field-name-display-field-copyparagraph-story-block-mobile-image {
		
		@include breakpoint($small-only) {
			margin: 0 -30px 30px;
		}
		
		// hide mobile image in medium-up layouts
		@include breakpoint($medium-up) {
			display: none;
		}
	}
		
	// hide bg image on column in mobile
	.group-left,
	.group-right {
		@include breakpoint($small-only) {
			background-image: none;
		}
	}

	
	
	
	/*------------------------------------------------
		
		Center Text column with FULL WIDTH bg image
		
	-------------------------------------------------*/
	
	// Center Text, h1 with BG image
	&.paragraph--view-mode-center-text-h1-title-bg-image {
		text-align: center;
		
		@include breakpoint($small-only) {
			text-align: left;
		}
		
		.story-block-inner {
			display: block; // override flexbox
		}
		.title {
			@include responsive-page-title;
		}
		.field-name-story-block-text {
		}
	}
	
	// Center text with BG image
	&.paragraph--view-mode-center-text-full-bg-image {
		text-align: center;
		
		@include breakpoint($small-only) {
			text-align: left;
		}
		.story-block-inner {
			display: block; // override flexbox
		}
	}
}


.story-block-images {
	.l-constrained {
		width: 100%;
	}
	
	// reset list-style, margin, padding to none
	ul {
		margin: 0;
		padding: 0;
		
		li {
			@include no-bullet(0,0);
		}
	}
}



/*---------------------------------------------
	
	Story block View modes - LIGHT background 
	colors or images
	
----------------------------------------------*/

.light-bg {
	.story-block {
		
		@include breakpoint($medium-up) {
			.image-overlay {
				background-color: $overlay-bg-color-on-light;
			}
			
			// on SB with full img bg and L or R text (not centered or h1), 
			// make overlay only cover half
			&.paragraph--view-mode-right-text-full-bg-image {
				.image-overlay {
					//right: 0;
					//width: 50%;
					background: rgba(255,255,255,0.7);
					background: linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.70) 55%);
				}
			}
			&.paragraph--view-mode-left-text-full-bg-image {
				.image-overlay {
					//left: 0;
					//width: 50%;
					background: rgba(31,31,31,0.7);
					background: linear-gradient(90deg, rgba(31,31,31,0.70) 40%, rgba(31,31,31,0) 55%);
				}
			}
	
			.title,
			h1 {
				color: $title-on-light-color;
			}
			
			.field-name-story-block-text {
				color: $text-on-light-color;
			}
			
			// button link
			.field-name-story-block-link,
			.field-name-story-block-videos {		
				a {
					@include button-on-light;
				}
			}
			
			// video popup link
			.mfp-video-embed-all-items {
				.mfp-video-embed-popup {
					@include button-on-light;
				}
			}
		}
	}
}

// Dark BG Story blocks - for when you can't add the .dark-bg block class to the story block container block
.dark-bg {
	@include breakpoint($medium-up) {
		//background-color: #191A1C;
		
		.image-overlay {
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $overlay-bg-color-on-dark;
		}
		
		// on SB with full img bg and L or R text (not centered or h1), 
		// make overlay only cover half
		&.paragraph--view-mode-right-text-full-bg-image {
			.image-overlay {
				//right: 0;
				//width: 50%;
				background: rgba(31,31,31,0.7);
				background: linear-gradient(90deg, rgba(31,31,31,0) 40%, rgba(31,31,31,0.70) 55%);
			}
		}
		&.paragraph--view-mode-left-text-full-bg-image {
			.image-overlay {
				//left: 0;
				//width: 50%;
				background: rgba(31,31,31,0.7);
				background: linear-gradient(90deg, rgba(31,31,31,0.70) 40%, rgba(31,31,31,0) 55%);
			}
		}
		
		// story block title h2 or h3
		.title,
		h1 {
			color: $title-on-dark-color;
		}
		
		// story block body text
		.field-name-story-block-text {
			color: $text-on-dark-color;
		}
		
		// button link
		.field-name-story-block-link,
		.field-name-story-block-videos {		
			a {
				@include button-on-dark;

			}
		}
		
		// video popup link
		.mfp-video-embed-all-items {
			.mfp-video-embed-popup {
				@include button-on-dark;
			}
		}
		
		&.no-overlay {
			.image-overlay {
				background-color: transparent;
			}
		}
	}	
}